# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/         
.env
.DS_Store

# Logs
*.log

# IDE
.vscode/
.cursor/
.cursorignore

# 离线数据
top_300_metrics/

# 缓存
**/opendigger_cache/
**/profile_cache/
**/github_cache/

# 设计方案
design_text/

# 开发报告
docs/